.footer {
    background-color: $cl-fourth;
    color: $cl-white;
    padding: 1.5rem 0;

    &__container {
        width: 85%;
        margin: auto;
        max-width: 120rem;
    }

    &__heading {
        font-size: 2.4rem;
        font-family: 'Shrikhand', cursive;
        letter-spacing: 2px;
        font-weight: 100;
        color: $cl-white;
    }

    &__link {
        color: $cl-white;
        padding-bottom: 1.5rem;

        &:hover {
            color: $cl-primary;
        }
    }

    &__icon {
        padding-right: 1rem;
        font-size: 1.6rem;
    }
}