.footer {
    display: flex;
    flex-direction: column;
    background-color: $cl-fourth;
    color: $cl-white;
    padding: 0 20px 20px 20px;
    &__container {
        @include breakpointSmall {
            width: 85%;
            margin: auto;
        }
    }
    &__heading {
        font-family: 'Shrikhand', cursive;
        letter-spacing: 1px;
        font-weight: 100;
        color: $cl-white;
    }
    &__link {
        color: $cl-white;
        padding-bottom: 15px;
        &:hover {
            color: $cl-primary;
        }
    }
    &__icon {
        padding-right: 10px;
        font-size: 12px;
    }
}