.button {
    width: fit-content;
    padding: 15px 20px;
    text-align: center;
    margin: 30px auto 0 auto;
    color: $cl-white;
    border-radius: 50px;
    background: linear-gradient(350deg, $cl-primary 10%, $cl-secondary 100%);
    box-shadow: 0 3px 8px lighten($cl-fourth, 50);
    cursor: pointer;
    transition: .3s;

    &:hover {
        box-shadow: 0 3px 8px lighten($cl-fourth, 20);
        background: linear-gradient(350deg, lighten($cl-primary, 5) 10%, lighten($cl-secondary, 5) 100%);
    }
}