.heart {
    &__icon {
        font-size: 25px;
        position: relative;
    }
    &__icon-hidden {
        font-size: 27px;
        background: linear-gradient(to bottom, $cl-secondary 0%,$cl-primary 100%);
        background: -webkit-linear-gradient(bottom, $cl-secondary 0%,$cl-primary 100%); 
        // background:-moz-linear-gradient(bottom, #e72c83 0%, #a742c6 100%);
    
        background-clip: text;
        -webkit-background-clip: text;
        // -moz-background-clip: text;
        -webkit-text-fill-color:transparent;
        
        position: absolute;
        cursor: pointer;
        left: -1px;
        top: -1px;
        transition: 500ms;
        opacity: 0;
        &:hover {
            opacity: 1;     
        }
    }
}