// ANIMATION-MENU

@keyframes animMenu {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

// OPTION-1

// .all__div:nth-child(1) {
//     animation: animMenu 600ms 0s cubic-bezier(.56,1.66,.72,.5) both;
// }
// .all__div:nth-child(2) {
//     animation: animMenu 600ms 300ms cubic-bezier(.56,1.66,.72,.5) both;
// }
// .all__div:nth-child(3) {
//     animation: animMenu 600ms 600ms cubic-bezier(.56,1.66,.72,.5) both;
// }

// OPTION-2

.submenu__container:nth-child(2) {
    animation: animMenu 600ms 0ms cubic-bezier(.56, 1.66, .72, .5) both;
}

.submenu__container:nth-child(3) {
    animation: animMenu 600ms 300ms cubic-bezier(.56, 1.66, .72, .5) both;
}

.submenu__container:nth-child(4) {
    animation: animMenu 600ms 600ms cubic-bezier(.56, 1.66, .72, .5) both;
}

.submenu__container:nth-child(5) {
    animation: animMenu 600ms 900ms cubic-bezier(.56, 1.66, .72, .5) both;
}

// ANIMATION-VALIDATION

.submenu__container:hover,
.submenu__container.active {

    &>.submenu__content {
        width: calc(100% - 10rem);
    }

    &>.submenu__price {
        transform: translateX(-6rem);
    }

    &>.animation {
        transform: translateX(-100%);

        &>.animation__icon {
            transform: rotate(0deg);
        }
    }

}

.animation {
    position: absolute;
    bottom: 0;
    width: 6rem;
    right: -6rem;
    @include center;
    background: $cl-tertiary;
    height: 100%;
    transition: .5s;

    &__icon {
        color: $cl-tertiary;
        background-color: $cl-white;
        padding: .4rem;
        border-radius: 50%;
        transition: transform 0.5s;
        transform: rotate(-360deg);
    }
}