html {
    scroll-behavior: smooth;
    user-select: none;
}

* {
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

a {
    text-decoration: none;
    display: block;
    color: $cl-fourth;
}