@keyframes stop {
    0% {
        opacity: 1;
        z-index: 10;
    }
    99% {
        opacity: 1;
        z-index: 10;
    }
    100% { 
        opacity: 0;
        z-index: -10;
    }
}
// @keyframes loader {
//   0% {

//   }
//   100% {
//       transform: translateY(-30px);
//   }
// }
// .loader-container {
//   background: #ffffffdf;
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   animation: stop 2s both;
  
  // skip over header
//   position: absolute;  
//   top: 0;
//   z-index: 10;
// }
// .dot {
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   background:$cl-primary;
//   margin: 0 15px;
//   animation: loader 0.3s 15 alternate;
// }
// .d2 {
//   animation-delay: 50ms;
//   background: $cl-secondary;
// }
// .d3 {
//   animation-delay: 100ms;
//   background: $cl-tertiary;
// }
// SPINNER

@keyframes spinner{
    0% {
      opacity: 1;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1.5,1.5);
    } 100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,1);
    }
}

.spinner-container{
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  position: fixed;
  width: 100%;
  height: 100%;
  animation: stop 2s both;
}
.spinner {
  width: 200px;
  height: 200px;
  position: relative;
  top: 150px;
  margin: auto;
  animation: stop 2s both;
}
.ball div > div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}.ball div:nth-child(1) > div {
  left: 148px;
  top: 88px;
  animation-delay: -0.875s;
  background-color: $cl-primary;
}
.ball > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 160px 100px;
}.ball div:nth-child(2) > div {
  left: 130px;
  top: 130px;
  animation-delay: -0.75s;
  background-color: $cl-secondary;
}
.ball > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 142px 142px;
}.ball div:nth-child(3) > div {
  left: 88px;
  top: 148px;
  animation-delay: -0.625s;
  background: $cl-tertiary;
}
.ball > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 100px 160px;
}.ball div:nth-child(4) > div {
  left: 46px;
  top: 130px;
  animation-delay: -0.5s;
  background-color: $cl-fourth;
}
.ball > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 58px 142px;
}.ball div:nth-child(5) > div {
  left: 28px;
  top: 88px;
  animation-delay: -0.375s;
  background-color: $cl-primary;
}
.ball > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 40px 100px;
}.ball div:nth-child(6) > div {
  left: 46px;
  top: 46px;
  animation-delay: -0.25s;
  background: $cl-secondary;
}
.ball > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 58px 58px;
}.ball div:nth-child(7) > div {
  left: 88px;
  top: 28px;
  animation-delay: -0.125s;
  background-color: $cl-tertiary;
}
.ball > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 100px 40px;
}.ball div:nth-child(8) > div {
  left: 130px;
  top: 46px;
  animation-delay: 0s;
  background-color: $cl-fourth;
}
.ball > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 142px 58px;
}