// LOCATION
.location {
    margin-top: 8rem;
    height: 6rem;
    @include center;
    background-color: lighten($cl-fourth, 70);


    &__input {
        font-size: 2rem;
        width: 17rem;
        border: none;
        background-color: lighten($cl-fourth, 70);
        margin-left: 1rem;
        padding: 1rem;
    }
}

// BOOK

.book {
    padding: 0 2rem 5rem;
    text-align: center;
    min-height: 82vh;
    @include center;
    flex-direction: column;


    background: linear-gradient(rgba($cl-white, 0.95), rgba($cl-white, 0.2)),
        url('../pictures/restaurant-w1920.webp') center / cover;


    @media screen and (max-width:600px) {
        background: linear-gradient(rgba($cl-white, 0.95), rgba($cl-white, 0.2)),
            url('../pictures/restaurant-w1080.webp') center / cover;
    }

    &__heading {
        font-size: clamp(2.4rem, 6vw, 3.5rem);
    }

    &__p {
        font-weight: 600;
        font-size: 1.8rem;
    }
}

// FUNCTION

.function {
    padding: 3rem 0;
    width: 85%;
    max-width: 50rem;
    margin: auto;

    @include breakpointMedium {
        padding: 5rem 0;
        max-width: 120rem;
    }


    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include breakpointMedium {
            flex-direction: row;
        }
    }

    &__div {
        display: flex;
        align-items: center;
        background-color: lighten($cl-fourth, 75);
        border-radius: $border-rad;
        padding: .5rem .5rem .5rem 0;
        margin-bottom: 3rem;
        box-shadow: 0px 0px 10px lighten($cl-fourth, 60);
        transition: all 400ms;

        &:hover {
            background-color: lighten($cl-primary, 30);

            &>.fa-mobile-screen-button {
                color: $cl-primary;
            }

            &>.fa-list-ul {
                color: $cl-primary;
            }

            &>.fa-store {
                color: $cl-primary;
            }
        }

        @include breakpointMedium {
            width: 30%;
        }
    }

    &__number {
        background-color: $cl-primary;
        color: $cl-white;
        padding: 5px 10px;
        border-radius: 50%;
        transform: translateX(-50%);
    }

    &__icon {
        margin-right: 1.8rem;
        font-size: 2.4rem;
        color: lighten($cl-fourth, 40);
    }

    &__p {
        font-weight: bold;
    }
}

// MAIN

.main {
    background-color: lighten($cl-fourth, 75);
    padding: 3rem 7.5%;

    &__container {
        max-width: 1200px;
        margin: auto;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }
}

.card {
    position: relative;
    width: 100%;
    max-width: 60rem;
    background-color: $cl-white;
    border-radius: $border-rad;
    overflow: hidden;
    box-shadow: 0px 0px 10px lighten($cl-fourth, 60);
    transition: .3s;

    @include breakpointSmall {
        width: calc(50% - 1.5rem);
    }

    &:hover {
        box-shadow: 0px 0px 10px lighten($cl-fourth, 20);
        transform: scale(1.02);
    }

    &__img {
        width: 100%;
        height: 17rem;
        object-fit: cover;
    }

    &__new {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.6rem;
        font-weight: 500;
        background-color: $cl-tertiary;
        color: darken($cl-tertiary, $amount: 50);
        padding: .5rem 1rem;
        border-radius: 2px;
        animation: animNew 2s linear infinite;
    }

    @keyframes animNew {
        0% {
            opacity: 0;
        }

        35% {
            opacity: 1;
        }

        65% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    &__contents {
        padding: 1rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        margin: 0 0 5px 0;
    }

    &__p {
        margin: 0;
    }
}