// LOCATION

.location {
    margin-top: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lighten($cl-fourth, 70);
    box-shadow: inset 0px 10px 8px -10px lighten($cl-fourth, 10);
    &__paragraph {
        font-size: 1.2em;
        font-weight: 700;
        margin: 15px 20px;
    }
}

// BOOK

.book {
    background: linear-gradient(rgba($cl-white,0.95),rgba($cl-white,0.2)),
    url('../pictures/restaurant-w1920.webp') center / cover;
    padding: 20px 30px 50px 30px;
    text-align: center;
    @media screen and (max-width:600px) {
        background: linear-gradient(rgba($cl-white,0.95),rgba($cl-white,0.2)),
        url('../pictures/restaurant-w1080.webp') center / cover;
    }
    &__heading {
        width: 80%;
        margin: 30px auto 0 auto;
        font-size: 1.6em;
    }
    &__paragraph {
        font-size: 1.1em;
    }
}

// FUNCTION

.function {
    padding: 20px 20px 30px 30px;
    @include breakpointSmall {
        max-width: 85%;
        margin: auto;
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include breakpointMedium { flex-direction: row;}
    }
    &__div {
        display: flex;
        align-items: center;
        background-color: lighten($cl-fourth, 75);
        border-radius: 20px;
        padding: 5px 0;
        margin-bottom: 30px;
        box-shadow: 0px 0px 15px lighten($cl-fourth,60);
        transition: all 400ms;
        &:hover {
            background-color: lighten($cl-primary,30);
            & > .fa-mobile-screen-button {
                color: $cl-primary;
            }
            & > .fa-list-ul {
                color: $cl-primary;
            }
            & > .fa-store {
                color: $cl-primary;
            }
        }
        
        @include breakpointMedium { width: 30%;}
    }
    &__number {
        background-color: $cl-primary;
        color: $cl-white;
        padding: 5px 10px;
        border-radius: 50%;
        margin-left: -13px;
        margin-right: 25px;
    }
    &__icon {
        margin-right: 25px;
        font-size: 1.3em;
        color: lighten($cl-fourth, 40);
    }
    &__paragraph {
        font-weight: bold;
    }
}

// MAIN

.main {
    background-color: lighten($cl-fourth, 75);
    padding: 30px 20px 50px;
    &__container {
        @include breakpointSmall { 
            max-width: 85%;
            margin: auto;
        }
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;   
    }
    &__heading {
        padding: 0;
        margin-bottom: 10px;
    }
}

.card {
    width: 100%;
    background-color: $cl-white;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin: 10px 0;
    box-shadow:  0px 0px 15px lighten($cl-fourth,60);
    transition: 400ms;
    @include breakpointMedium { width: 47%;}
    &:hover {
        box-shadow: 0px 0px 10px lighten($cl-fourth,20);
        transform: scale(1.03);
    }
    &__img {
        width: 100%;
        height: 170px; 
        object-fit: cover;
    }
    &__new {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 0.9em;
        font-weight: 500;
        background-color: $cl-tertiary;
        color: darken($cl-tertiary, $amount: 50);
        padding: 5px 10px;
        border-radius: 2px;
    }
    &__contents {
        padding: 0 20px 0 10px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text {
        display: flex;
        flex-direction: column;
    }
    &__heading {
        margin: 0 0 5px 0;
    }
    &__paragraph {
        margin: 0;
    }
}