// MAIN

.main__img {
    width: 100%;
    margin-top: 72px;
    padding: 0;
    height: 330px;
    object-fit: cover;
    @include breakpointSmall { height: 500px;}  
}
// MENU

.menu {
    margin-top: -75px;
    position: relative;
    background-color: lighten($cl-fourth, 75);
    border-radius: 50px 50px 0 0;
    padding: 0 3% 70px;
    @include breakpointSmall { 
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    &__header {
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__heading {
        font-family: 'Shrikhand', cursive;
        font-size: 1.7em;
        margin-top: 50px;
    }
    &__heart {
        padding-top: 30px;
        padding-right: 20px;
    }
    &__button {
        padding: 15px 50px;
        margin-top: 50px;
    }
}

.all {
    @include breakpointMedium { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__div {
        margin: 10px;
        @include breakpointMedium { width: 45%;}
        @include breakpointLarge { width: 30%;}
    }
}

// SUBMENU

.submenu {
    font-weight: 400;
    border-bottom: 3px solid $cl-tertiary;
    padding-bottom: 5px;
    width: 40px;
    
    &__container {
        background-color: $cl-white;
        border-radius: 10px;
        padding: 12px;
        height: 65px;
        display: flex;
        overflow: hidden;
        margin-bottom: 15px;
        position: relative;
        cursor: pointer;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        transition: all 500ms;
    }
    &__heading {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;  
    }
    &__paragraph {
        margin: 0;
        font-size: 0.9em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__price {
        font-weight: bolder;
        padding-right:20px;
        transition: all 500ms;
        position: absolute;
        right: 0;
        bottom: 12px;
    }  
}