// MAIN
.main__img {
    width: 100%;
    margin-top: 8rem;
    height: 50vh;
    object-fit: cover;

    @include breakpointSmall {
        height: 50rem;
    }
}

// MENU
.menu {
    margin-top: -8rem;
    position: relative;
    background-color: lighten($cl-fourth, 75);
    border-radius: 50px 50px 0 0;
    padding: 0 5% 7rem;

    @include breakpointSmall {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    &__header {
        padding-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__heading {
        font-family: 'Shrikhand', cursive;
        font-size: clamp(2.2rem, 7vw, 3rem);
        letter-spacing: 2px;
    }

    &__button {
        padding: 1.5rem 5rem;
        margin-top: 5rem;
    }
}

.all {
    @include breakpointMedium {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__div {
        @include breakpointMedium {
            width: 47%;
        }

        @include breakpointLarge {
            width: 30%;
        }
    }
}

// SUBMENU

.submenu {
    font-size: 1.8rem;
    font-weight: 400;
    border-bottom: 3px solid $cl-tertiary;
    padding-bottom: .5rem;
    width: 4rem;

    &__container {
        background-color: $cl-white;
        border-radius: $border-rad;
        padding: 1.2rem;
        min-height: 6.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        margin-bottom: 1.5rem;
        position: relative;
        cursor: pointer;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% - 4rem);
        transition: all 500ms;
    }

    &__heading {
        font-size: 1.6rem;
    }

    &__heading,
    &__paragraph {
        margin: .5rem 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__paragraph {
        font-size: 1.5rem;
    }

    &__price {
        font-weight: bolder;
        transition: all 500ms;
    }
}